<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <!--<link rel="stylesheet" type="text/css" href="login.css"/>-->
</head>
<body>
<form action="/login" method="POST" name="f">
<div class="page__hd">
    <h1 class="page__title">
        <img src="templates/image/logo.png" alt="logo" width="100%" />
    </h1>
    <p class="page__desc">大麦智能</p>
</div>
<div class="content">
    <div class="longin-boder">
        <div class="image"><img src=""/></div>
        <input class="input" name="username" type="text" placeholder="输入用户名"/>
    </div>
    <!--End用户名输入框-->
    <div class="longin-boder">
        <div class="image"><img src=""/></div>
        <input class="input" name="password" type="password" placeholder="输入密码"/>
    </div>
    <!--End密码输入框-->
    <div class="button"><input type="submit" value="登录"/></div>
</div>
</form>
</body>
</html>